body {
    background-color: #1f2029;
    height: 745px;
}

.form-gap {
    padding-top: 150px;
}

.link {
    color: #c4c3ca;
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.link:hover {
    color: #21ed12;
}