<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<body>
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                <form #forgot="ngForm" class="form" (ngSubmit)="resetPassword(forgot.value,forgot)">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                            <input #username="ngModel" name="username" placeholder="Username" class="form-control" type="text" ngModel required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <input #new="ngModel" name="new" placeholder="New Password" class="form-control" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,}" minlength="6" ngModel required>
                                        </div>
                                        <span *ngIf="new.invalid && new.touched tex">
                                            Password length > 6 letters and should contain capital, small letters, numbers and special characters
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <input #confirm="ngModel" name="password" placeholder="Confirm Password" class="form-control" type="text" ngModel required>
                                        </div>
                                    </div>
                                    <div [style.display]="(new.value!=confirm.value ||new.value==confirm.value) && forgot.valid ? 'block':'none'">
                                        <div *ngIf="new.value==confirm.value then thenBlock else elseBlock"></div>
                                        <ng-template #thenBlock><span class="text-success">Password is same</span></ng-template>
                                        <ng-template #elseBlock><span class="text-danger">Password is not same</span></ng-template>
                                        <input type="hidden" class="hide" name="token" id="token" value="">
                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" [disabled]="forgot.invalid">
                                    </div>
                                    <p class="text text-success" [style.display]="disp">Password changed successfully. Kindly login with your username and new password.</p>
                                    <p class="text text-danger" [style.display]="disp1">{{error}}</p>
                                    <p class="mb-0 mt-4 text-center"><a routerLink="/login" class="link">Back to Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>